.flex-container{
     /* display: flex; */
    /* flex-wrap: wrap;  */
    /* gap: 30px 20px; */
    column-gap: 600px;

    /* margin: 10px;
    align-content: space-between; */

} 
.addButton{
    /* float: left; */
    margin-left: 10px;
    
    
}
